<a href="/movies/<%= @the_movie.id %>" data-turbo-method="delete"> 
  Delete movie
</a>

<form action="/movies/<%= @the_movie.id %>" method="post" data-turbo="false">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
</form>
